.flex-container{
    /*height: calc(100vh - 98px);*/

    margin: 16px;
    justify-content: center;
    align-items: center;
    display: flex; 
      
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;

}

.content{
    height: calc(100vh - 98px);
    margin: 16px;

    justify-content: center;
    align-items: center;

    display: flex; 
    float: left;  
  }
  
  .errStyle{
    color:#fff;
    background-color:#f66e84;
    border-color:#f55f78;
    border:1px solid transparent;
    padding:.85rem 1.5rem;
    border-radius:4px;
    margin-bottom:1rem;
  }

/*
mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d1d1d1; 
}
*/