<mat-toolbar color="primary">
    <button *ngIf="isUserLoggedIn" mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>CSV Uploder</span>
    <span class="example-spacer"></span>
    <span class="nav-tool-items">
      <span *ngIf="!isUserLoggedIn">
        <a mat-button routerLink="login" routterLinkActive="active">Log In</a>
        <a mat-button routerLink="register" routerLinkActive="active">Register</a>
      </span>
      <a mat-button *ngIf="isUserLoggedIn" (click)="logOut()" >Log Out</a>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="isUserLoggedIn" routerLink="account-info" routerLinkActive="active">
        <mat-icon>account_box</mat-icon>
        <span>Your Account</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>    
 </mat-toolbar>
