@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snackbar {
    max-width: 90% !important;
    margin-left: auto !important; // center align from left
    margin-right: auto !important; // center align from right
    margin-top: 10rem !important; 
    padding: 10px !important; // spacing between the text and boundary
    background-color: green;
    color: color;

    .mat-button-wrapper {
        color: black !important; // action text color
    }
}

